@import url('https://fonts.googleapis.com/css?family=Comfortaa&display=swap');

.header{
    background-image: url(../img//chave.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.overlay-login{
    /*background-image: linear-gradient(to right top, #fff20049, #ffe60036, #ffd50033, #ffc50633, #ffb8124b);*/
    background-color: #ff7112cb;
    height: 100%;
}

.corpo{
    color:#383838;
    background-color: #f0f0f0;
    box-shadow: 4px 7px 12px 1px rgba(0, 0, 0, 0.205);
    width: 25rem; 
    height: auto; 
    border-radius: 15px;
}

.corpo, .card-body {
    font-family: 'Comfortaa', cursive!important;
}

.msg{
    color: #ff7212!important;
}

@media only screen and (max-width:600px) {
    .corpo {
        width: 100%;
        height: 15rem; 
    }

    .corpo button{
        height: 3rem;
        width: 6rem;
    }
}