@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}
<link rel="stylesheet" href="~/css/login.css">

<div class="header" style="height: 100vh;">
    <div class="d-flex flex-column justify-content-center align-items-center" style="height: 100vh;">
        <div>
            <div class="corpodois" style="width: 25rem;height:auto;">
                <div class="text-center pt-5">
                    <h2>Log-In</h2>
                </div>
                <form asp-route-returnurl="@ViewData["ReturnUrl"]" method="post" class="form-horizontal" role="form">
                    <div class="card-body p-4 col-sm-12 col-md-12 col-lg-12">
                        <div class="form-group">
                            <label asp-for="UserName" class="col-md-2 control-label">Endereço de E-mail</label>
                            <div class="col-md-10">
                                <input asp-for="UserName" class="form-control" />
                                <span asp-validation-for="UserName" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class="col-md-2 control-label">Senha</label>
                            <div class="col-md-10">
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                            <a class="pt-2" href="esqueciMinhaSenha.html"><small>Esqueceu sua senha?</small></a>
                        </div>

                        <br>

                        <div class="container d-flex justify-content-center">
                            <button type="submit" style="background-color: #ff7b00; border: none;">Login</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
