@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<h1>@ViewData["Title"]</h1>


<div class="overlay">
    <div class="container col-md-4 d-flex">
        <div class="container mt-5 ">
            <div class="row d-flex justify-content-center">
                <img src="~/images/tec_logo.png" alt="" class="img-fluis">
            </div>

            <div class="row d-flex justify-content-center">
                <form asp-route-returnUrl="@Model.ReturnUrl" class="mt-5">
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-row">
                        <div class="form-group col-md-12">
                            <label for="inputEmail4">Nome</label>
                            <input type="text" class="form-control" id="Nome" placeholder="Nome">
                        </div>
                        <div class="form-group col-md-12">
                            <label asp-for="Input.Email" for="inputPassword4"></label>
                            <input asp-for="Input.Email" class="form-control" placeholder="E-mail" />
                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                        </div>
                        @*<div class="form-group col-md-12">
                                <label for="inputAddress">Senha</label>
                                <input type="password" class="form-control" id="inputAddress" placeholder="Senha">
                            </div>*@

                        <div class="form-group col-md-12">
                            <label asp-for="Input.Password"></label>
                            <input asp-for="Input.Password" class="form-control" />
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>
                        <div class="form-group col-md-12">
                            <label asp-for="Input.ConfirmPassword"></label>
                            <input asp-for="Input.ConfirmPassword" class="form-control" />
                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary" style="background-color: #ff7b00; border: none;">Cadastrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
