@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">Usuario</h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="index.html">Inicio</a></li>
                        <li class="breadcrumb-item active">Usuario</li>
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <!-- Main content -->
    <div class="container">
        <div class="row d-flex justify-content-center ml-4 mr-4">
            <div class="col-md-4" id="dados">
                <div class="card card-primary">
                    <div class="card-body">
                        <div class="container">
                            <div class="box box-primary">
                                <h5 class="box-title d-flex justify-content-center" style="color: #000000">Informações Usuario</h5>
                                <br>
                            </div>
                            <div class="form-group d-flex flex-column mb-4">
                                <label class="label_nome_usuario label_dados_transacao"><sup>Nome:</sup></label>
                                <span class="nome_usuario"><i class="far fa-user mr-2"></i>@Html.DisplayFor(modelItem => modelItem.Username)</span>
                            </div>
                            <div class="form-group d-flex flex-column mb-4">
                                <label class="label_sobrenome_usuario label_dados_transacao"><sup>Sobrenome:</sup></label>
                                <span class="sobrenome_usuario"><i class="far fa-user  mr-2"></i>@Html.DisplayFor(modelItem => modelItem.Username)</span>
                            </div>
                            <div class="form-group d-flex flex-column mb-4">
                                <label class="label_email_usuario label_dados_transacao"><sup>E-mail:</sup></label>
                                <span class="email_usuario" asp-for="Input"><i class="far fa-envelope  mr-2"></i> @Html.DisplayFor(modelItem => modelItem.Username) </span>
                            </div>
                            <div class="form-group d-flex flex-column mb-4">
                                <label class="label_tel_usuario label_dados_transacao"><sup>Telefone:</sup></label>
                                <span class="tel_usuario"><i class="fas fa-mobile-alt  mr-2"></i>@Html.DisplayFor(modelItem => modelItem.Input.PhoneNumber)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}